.primaryLink {
  text-decoration: none;
  color: #525f7f;
  padding-bottom: 0.8rem;
  border-bottom: 6px solid transparent;
  transition: all 0.2s ease;

  &:hover {
    color: $purple;
    border-bottom: 6px solid $purple;
  }
}

.activeLink {
  color: $purple;
  border-bottom: 6px solid $purple;
}

.btn {
  font-weight: bold;
  display: inline-block;
  padding: 1.1rem;
  text-decoration: none;
  border-radius: 0.4rem;
  box-shadow: 0 3px 8px rgba($black, 0.2);

  &--primary {
    &:link,
    &:visited {
      background-color: $purple;
      color: $white;
      transition: all 0.3s;
    }

    &:hover {
      background-color: lighten($purple, 5%);
      transform: translateY(-2px);
      box-shadow: 0 3px 10px rgba($black, 0.3);
    }
  }

  &--secondary {
    &:link,
    &:visited {
      background-color: $white;
      color: $purple;
      transition: all 0.3s;
    }

    &:hover {
      color: lighten($purple, 5%);
      transform: translateY(-2px);
      box-shadow: 0 3px 10px rgba($black, 0.3);
    }
  }
}

.logo {
  height: 4rem;
  width: 16rem;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.15);
  }
}

.headingSecondary {
  font-size: 3rem;
  color: $fadedPurple;
  margin-bottom: 3.5rem;
  padding: 0.5rem 0.8rem;
  border-bottom: 2px solid $purple;
}

.headingTertiary {
  font-size: 2.3rem;
  color: $fadedPurple;
  padding: 0.5rem 0.8rem;
  font-weight: 400;
  //font-style: oblique;
}

.typewriter {
  overflow: hidden;
  border-right: 0.6rem solid $purple;
  white-space: nowrap;
  display: inline-block;
  animation: blink-caret 1.2s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: $purple;
  }
}
